---
title: Klimakov Oleg Blog
layout: layouts/home.njk
description: Blog about frontend, IT, devices, traveling and about everything
image: https://sun9-43.userapi.com/impg/a13St1Phhsc-Gak52w_8nmUH5nAJcyAiaZ5OTQ/hX97JVazcLw.jpg?size=640x360&quality=96&sign=b2646a6194c54f1bf3a88ebf32ec63e8&type=album
date: Last Modified
---
<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
