---
title: Klimakov Oleg Blog
layout: layouts/home.njk
description: Blog about frontend, IT, devices, traveling and about everything
image: https://sun9-35.userapi.com/impg/jiskIOUD3dPjI60BBMmJkEZIc_HMh3EX_dMbbQ/TAYxLfmn970.jpg?size=640x360&quality=96&sign=8db726a8e4d68108d78a345efe66fa10&type=album
date: Last Modified
---
<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
