---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h3>Результаты поиска по тегу: "{{ tag }}"</h3>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Вернуться ко <a href="{{ '/tags/' | url }}">всем тэгам</a>.</p>
