---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Tags</h1>

<ul>
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <li>
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>

<a href="/">
  To main page
</a>
