<!doctype html>
<html lang="en"
    domain="{{ metadata.domain }}"
  >
  {% include "layouts/head.njk" %}
  <body>
    <header>
      <nav>
        <div id="nav">
          <h1><a href="{{ '/' | url }}" title="Homepage">{{ metadata.title }}</a></h1>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          {%- for entry in collections.all | eleventyNavigation %}
            {{ entry.data }}
            {% if entry.published !== false %}
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            {% endif %}
          {%- endfor %}
        </div>
      </nav>
      <h1>{{ title }}</h1>
      {% block extraArticleHeader %}{% endblock %}
      <dialog id="message"></dialog>
    </header>

    <main>
      <article>
        {% block article %}
          {{ content | safe }}
        {% endblock %}

        {% if page.url and page.url.indexOf("/posts/") > -1 %}
          <p>Опубликовано <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
        {% endif %}
      </article>
    </main>

    {% include "layouts/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
