<!doctype html>
<html lang="ru" domain="{{ metadata.domain }}">
{% include "layouts/head.njk" %}
<body>
<header>
  {% include "layouts/navigation.njk" %}
</header>
<main class="main-home">
  <article>
    <div>
      Hi, I am an Software Engineer and this is my personal blog. In order not to miss updates, subscribe to my
      <a target="_blank" rel="noopener" href="https://twitter.com/klimakov_org">
        Twitter
      </a>
    </div>
    {{ content | safe }}
  </article>
</main>
{% include "layouts/footer.njk" %}
</body>
</html>

