<!doctype html>
<html lang="ru" domain="{{ metadata.domain }}">
{% include "layouts/head.njk" %}
<body>
<header>
  {% include "layouts/navigation.njk" %}
</header>
<main class="main-home">
  <article>
    <div>
      <p>Hi, I am Oleg. I am an Software Engineer (Frontend, Backend). </p>
      <p>In this blog I want to share my knowledge about:</p>
      <ul>
        <li>Typescript</li>
        <li>Angular</li>
        <li>Nest</li>
        <li>Node.js</li>
      </ul>
      <p>In order not to miss updates, subscribe to my
        <a target="_blank" rel="noopener" href="https://twitter.com/klimakov_org">
          Twitter
        </a>
      </p>
    </div>

    {{ content | safe }}
  </article>
</main>
{% include "layouts/footer.njk" %}
</body>
</html>

