<nav>
  <div id="nav">
    <h1><a href="{{ '/' | url }}" title="Homepage">{{ metadata.title }}</a></h1>
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <div class="nav__right">
      {%- for entry in collections.all | eleventyNavigation %}
        {{ entry.data }}
        {% if entry.published !== false %}
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {% endif %}
      {%- endfor %}
    </div>

  </div>
</nav>
